<template>
  <b-modal v-on="$listeners" id="delete" centered :title="`Delete ${item.title}`">
    Are you sure to delete {{item.title}}?
    <template #modal-footer="{ ok, cancel }">
      <!-- Emulate built in modal footer ok and cancel button actions -->
      <b-button class="px-4" variant="outline-secondary" @click="cancel()">
        No
      </b-button>
      <b-button class="px-4" variant="danger" @click="ok()">
        Yes
      </b-button>
    </template>
  </b-modal>
</template>

<script>
export default {
  name: 'DeleteModal',
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style>

</style>