<template>
  <ValidationProvider :vid="vid" :name="$attrs.name" :rules="rules" v-slot="{ valid, errors }">
    <b-form-group v-bind="$attrs" class="mb-4 input-text" :label-class="[{'error-color' : errors.length}, 'pl-2 text-charcoal-grey']" label-align="left">
      <b-overlay opacity="0.5" spinner-small :show="loading" rounded spinner-variant="water-blue" variant="light">
        <b-form-input v-model="innerValue" :disabled="loading" v-bind="$attrs" v-on="$listeners" :state="errors[0] ? false : (valid ? true : null)"/>
        <b-form-invalid-feedback class="text-left pl-2" id="inputLiveFeedback">{{ errors[0] }}</b-form-invalid-feedback>
      </b-overlay>
    </b-form-group>
  </ValidationProvider>
</template>

<script>
import { ValidationProvider } from "vee-validate";

export default {
  name: 'BaseInputText',
  components: {
    ValidationProvider
  },
  props: {
    vid: {
      type: String
    },
    rules: {
      type: [Object, String],
      default: ""
    },
    // must be included in props
    value: {
      type: null
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    innerValue: ""
  }),
  watch: {
    // Handles internal model changes.
    innerValue(newVal) {
      this.$emit("input", newVal);
    },
    // Handles external model changes.
    value(newVal) {
      this.innerValue = newVal;
    }
  },
  created() {
    if (this.value) {
      this.innerValue = this.value;
    }
  }
};
</script>
<style lang="scss">
  .input-text {
    .error-color {
      color: #dc3545 !important;
    }
  }
</style>