<template>
  <b-table show-empty thead-class="bg-medium-light" class="article-table text-left" responsive hover :items="items" :fields="fields" :busy="loading">
    <template #cell(index)="data">
      {{data.index+1}}
    </template>

    <template #cell(author)="data">
      {{data.value.username}}
    </template>

    <template #cell(tagList)="data">
      <span v-for="(tag, index) in data.item.tagList" :key="index">
        {{tag}}
        <template v-if="index != data.item.tagList.length - 1">, </template>
      </span>
    </template>

    <template #cell(body)="data">
      <span v-if="data.value.length < 20">{{data.value}}</span>
      <span v-else>{{data.value.substring(0, 20)}}...</span>
    </template>

    <template #cell(createdAt)="data">
      {{data.value | convert_date}}
    </template>

    <template #cell(action)="data">
      <b-dropdown text="..." right variant="dark-sky-blue" toggle-class="text-white">
        <b-dropdown-item-button @click="edit(data)">Edit</b-dropdown-item-button>
        <b-dropdown-divider/>
        <b-dropdown-item-button @click="selectRemove(data)">Delete</b-dropdown-item-button>
      </b-dropdown>
    </template>

    <template #cell()="data">
      <span class="text-left">{{data.value}}</span>
    </template>

    <template #table-busy>
      <div class="text-center text-water-blue my-4">
        <b-spinner class="align-middle mx-3"></b-spinner>
        <strong>Loading...</strong>
      </div>
    </template>

    <template #empty="scope">
      <h4>{{ scope.emptyText }}</h4>
    </template>
    
  </b-table>
</template>

<script>
import moment from 'moment'

export default {
  name: 'ArticleTable',
  data() {
    return {
      fields: [
        { key: 'index', label: '#', },
        { key: 'title', label: 'Title', },
        { key: 'author', label: 'Author' },
        { key: 'tagList', label: 'Tags' },
        { key: 'body', label: 'Excerpt' },
        { key: 'createdAt', label: 'Created' },
        { key: 'action', label: 'Actions' }
      ],
    }
  },
  props: {
    items: {
      type: Array,
      default: () => []
    },
    loading: {
      type: Boolean,
      default: true
    }
  },
  filters: {
    convert_date(value) {
      return moment(String(value)).format('MMMM DD ,YYYY')
    }
  },
  methods: {
    edit(data) {
      this.$emit("edit", data.item)
    },
    selectRemove(data) {
      this.$emit('selectRemove', data.item)
    },
    
  }
}
</script>

<style lang="scss">
.article-table {
  min-height: 680px;
}
</style>