<template>
  <b-button v-bind="$attrs" v-on="$listeners" :disabled="loading" class="px-4">
    <template v-if="loading">
      <b-spinner small type="grow"></b-spinner>
      Loading...
    </template>
    <template v-else>
      <slot />
    </template>
  </b-button>
</template>

<script>
export default {
  name: 'BaseButton',
  props: {
    loading: {
      type: Boolean,
      default: false,
    }
  }
}
</script>

<style>

</style>