// @import './custom.scss'
@font-face {
  font-family: HelveticaNeue;/* Pretty Modern Browsers */
  src: url('/src/assets/fonts/FreeSans.ttf')  format('truetype') /* Safari, Android, iOS */
}
.form {
  font-family: HelveticaNeue;
  border-radius: 4px;
  .title {
    h2 {
      font-size: 47px;
      color: #707070;
      padding: 20px 0px;
    }
  }
  input {
    border: 1px solid #ddd
  }
}

.page-link {
  color: #373a3c !important;
}

.b-toaster {
  &.b-toaster-top-right {
    left: unset;
    .b-toaster-slot {
      margin-left: unset;
      max-width: unset;
      position: relative;
      .b-toast {
        max-width: unset;
        .toast {
          max-width: unset;
          flex-basis: unset;
          padding: 10px 20px;
          .toast-header {
            display: inline;
            background-color: transparent;
            border-bottom-color: transparent;
            padding: 0;
          }
          .toast-body {
            display: inline;
            padding: 0;
            .btn {
              &.btn-close-toast {
                background-color: transparent;
                border: none;
                color: #373a3c;
                font-weight: 600;
                display: inline;
                padding: 0px;
                margin-left: 20px;
              }
            }
          }
        }
      }
    }
  }
}
$theme-colors: (
  // "primary": #6610f2,
  'medium-light': #eceeef,
  'charcoal-grey': #373a3c,
  'water-blue': #1c7cd5,
  'dark-sky-blue': #5bc0de,
  'danger': #cb2e25
  //...other variables, you can find them in node_modules/bootstrap/scss/_variables.scss
);

// import to set changes
@import "~bootstrap/scss/bootstrap";