<template>
  <main-layout>
    <h1 class="text-black text-left mb-3">{{$route.meta.title}}</h1>
    <article-table :items="items" :loading="loading" @edit="edit" @selectRemove="selectRemove"/>
    <b-pagination-nav exact-active-class="text-white" hide-goto-end-buttons align="center" :link-gen="linkGen" v-if="number_page > 1" :number-of-pages="number_page" use-router></b-pagination-nav>
    <delete-modal :item="selected_delete" @ok="removeItem"/>
  </main-layout>
</template>

<script>

import MainLayout from '@/layouts/MainLayout.vue'
import DeleteModal from '@/components/modals/DeleteModal.vue'
import {toast} from '@/mixins/toast'
import ArticleTable from '@/components/tables/ArticleTable.vue'

export default {
  components: { MainLayout, DeleteModal, ArticleTable },
  mixins: [toast],
  name: 'ArticlesView',
  data() {
    return {
      loading: false,
      selected_delete: {},
      items: [],
      articles_count: 0
    }
  },
  computed: {
    number_page() {
      return Math.ceil(this.articles_count/10)
    }
  },
  watch: {
    '$route.params.page': {
      handler(page) {
        page ? this.getPosts(page) : this.getPosts(1)
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    linkGen(pageNum) {
      return pageNum === 1 ? '/articles' : `/articles/page/${pageNum}`
    },
    edit(item) {
      this.$router.push({ path:`/articles/edit/${item.slug}` })
    },
    selectRemove(item) {
      this.selected_delete = item
      this.$bvModal.show('delete')
    },
    async removeItem() {
      this.loading = true
      let response = await this.$api.Article.delete(this.selected_delete.slug)
      if (response && response.status == 204) {
        this.$route.params.page ? this.getPosts(this.$route.params.page) : this.getPosts(1)
        this.showToast('', 'Article deleted successfuly', 'success')
      }
      else if (response && response.status == 403) {
        this.showToast('Failed!', response.data.message, 'danger')
        this.loading = false
      }
    },
    async getPosts(page) {
      this.loading = true
      let response = await this.$api.Article.get_article_per_page(page)
      if (response && response.status == 200) {
        this.articles_count = response.data.articlesCount
        this.items = []
        response.data.articles.forEach(article => {
          this.items.push(article)
        })
      }
      this.loading = false
    }
  },
  async mounted() {
    if (this.$route.params.notif) {
      this.showToast('Well done!', `Article ${this.$route.params.notif} successfuly`, 'success')
    }
  }
}
</script>

<style>

</style>