<template>
  <main-layout>
    <h1 class="text-black text-left mb-3">{{$route.meta.title}}</h1>
    <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
      <b-form class="form" @submit.prevent="handleSubmit(onSubmit)">
        <b-row>
          <b-col lg="8" md="12">
            <base-input-text :loading="loading_inputs" rules="required" type="text" label="Title" name="Title" v-model="title" placeholder="Title"/>
            <base-input-text :loading="loading_inputs" rules="required" type="text" label="Description" name="Description" v-model="description" placeholder="Description"/>
            <base-input-text-area :loading="loading_inputs" autocomplete="off" rows="10" rules="required" type="text" label="Body" name="Body" v-model="body"/>
          </b-col>
          <b-col lg="4" md="12">
            <b-overlay opacity="0.5" :show="loading_tag" rounded spinner-variant="water-blue" variant="light">
              <b-form-group class="mb-4" label-class="text-charcoal-grey" label-align="left" id="group-tags" label="Tags" label-for="tags">
                <b-form-input trim id="tags" autocomplete="off" v-model="tag" type="text" placeholder="New tag" @keydown.enter.prevent="addTag" />
              </b-form-group>
              <b-form-group class="text-left border p-2" v-slot="{ ariaDescribedby }">
                <b-form-checkbox-group v-model="selected_tags" :options="tags" :aria-describedby="ariaDescribedby" stacked />
              </b-form-group>
            </b-overlay>
          </b-col>
          <b-col>
            <div class="text-left">
              <base-button variant="water-blue" type="submit" :loading="loading_inputs">Submit</base-button>
            </div>
          </b-col>
        </b-row>
      </b-form>
    </ValidationObserver>
  </main-layout>
</template>

<script>
import { ValidationObserver } from "vee-validate"
import { toast } from '@/mixins/toast'
import MainLayout from '@/layouts/MainLayout.vue'
import BaseInputText from '@/components/inputs/BaseInputText.vue'
import BaseInputTextArea from '@/components/inputs/BaseInputTextArea.vue'
import BaseButton from '@/components/buttons/BaseButton.vue'

export default {
  components: { 
    MainLayout,
    ValidationObserver,
    BaseInputText,
    BaseInputTextArea,
    BaseButton 
  },
  mixins: [toast],
  name: 'ArticleCreateView',
  data() {
    return {
      title: null,
      description: null,
      body: null,
      tag: null,
      selected_tags: [],
      tags: [],
      loading_tag: false,
      loading_inputs: false
    }
  },
  watch: {
    '$route.name': {
      handler(name) {
        name == 'articles-create' ? this.clearInput() : this.getInfoArticle()
      },
      deep: true,
    }
  },
  methods: {
    async onSubmit() {
      let data = {
        article: {
          title: this.title,
          description: this.description,
          body: this.body,
          tagList: this.selected_tags
        }
      }
      if (this.$route.name == 'articles-edit' && this.$route.params.slug) {
        this.updateArticle(data)
      }
      else {
        this.createArticle(data)
      }
    },
    async createArticle(data) {
      this.loading_inputs = true
      let response = await this.$api.Article.create(data)
      if (response && response.status == 200) {
        this.loading_inputs = false
        this.$router.push({ name: 'articles', params: {notif: 'created'} })
      }
      else if (response && response.status == 422) {
        for (const error in response.data.errors) {
          this.showToast('Failed!', `${error} ${response.data.errors[error]}`, 'danger')
        }
      }
      this.loading_inputs = false
    },
    async updateArticle(data) {
      this.loading_inputs = true
      let response = await this.$api.Article.update_an_article(this.$route.params.slug, data)
      if (response && response.status == 200) {
        this.loading_inputs = false
        this.$router.push({ name: 'articles', params: {notif: 'updated'} })
      }
      else if (response && response.status == 403) {
        this.showToast('Failed!', response.data.message, 'danger')
      }
      else if (response && response.status == 422) {
        for (const error in response.data.errors) {
          this.showToast('Failed!', `${error} ${response.data.errors[error]}`, 'danger')
        }
      }
      this.loading_inputs = false
    },
    addTag() {
      if (this.tag && this.tag.trim().length) {
        let find = this.tags.find(tag => tag == this.tag.trim())
        if (find) {
          this.selected_tags.push(find)
        }
        else {
          this.tags.push(this.tag.trim())
          this.selected_tags.push(this.tag.trim())
        }
        this.tags.sort()
        this.tag = null
      }
    },
    async getAllTags() {
      this.loading_tag = true
      let response = await this.$api.Tag.get_all()
      if (response && response.status == 200) {
        if (response.data.tags.length) {
          this.tags = []
          response.data.tags.forEach(tag => {
            this.tags.push(tag)
          })
          this.tags.sort()
        }
      }
      this.loading_tag = false
    },
    async getInfoArticle() {
      this.loading_inputs = true
      let response = await this.$api.Article.get_an_article(this.$route.params.slug)
      if (response && response.status == 200) {
        this.title = response.data.article.title
        this.description = response.data.article.description
        this.body = response.data.article.body
        response.data.article.tagList.forEach(tag => {
          this.selected_tags.push(tag)
        })
      }
      this.loading_inputs = false
    },
    clearInput() {
      this.title = null
      this.description = null
      this.body = null
      this.selected_tags = []
    }
  },
  mounted() {
    if (this.$route.name == 'articles-edit' && this.$route.params.slug) {
      this.getInfoArticle()
    }
    this.getAllTags()
  }
}
</script>

<style>

</style>