<template>
  <auth-layout title="Login" alternate_text="Don’t have account?" @onSubmit="onSubmit">
    <base-input-text :loading="loading_inputs" rules="required|email" type="email" label="Email" name="Email" v-model="user.email"/>
    <base-input-text :loading="loading_inputs" rules="required" vid="password" type="password" label="Password" name="Password" v-model="user.password"/>
    <base-button type="submit" :loading="loading_inputs" variant="water-blue" block>Login</base-button>
  </auth-layout>
</template>

<script>
import {toast} from '@/mixins/toast'
import BaseInputText from '@/components/inputs/BaseInputText.vue'
import BaseButton from '@/components/buttons/BaseButton.vue'
import AuthLayout from '@/layouts/AuthLayout.vue'

export default {
  name: 'LoginView',
  components: { 
    BaseInputText,
    BaseButton,
    AuthLayout 
  },
  data() {
    return {
      user: {},
      loading_inputs: false,
    }
  },
  mixins: [toast],
  methods: {
    async onSubmit() {
      let data = {
        user: this.user
      }
      this.loading_inputs = true
      let response = await this.$api.User.login(data)
      if (response && response.status == 200) {
        this.$store.dispatch('user/set_data_user', response.data.user)
        this.$router.push({ path: '/articles' })
      }
      else if (response && response.status == 403) {
        this.showToast('Login Failed!', 'User name and/or Password is invalid', 'danger', true)
      }
      this.loading_inputs = false
    },
  }
}
</script>

<style>

</style>