<template>
  <auth-layout title="Register" alternate_text="Already Registered?" @onSubmit="onSubmit">
    <base-input-text :loading="loading_inputs" rules="required" type="text" label="User" name="User" v-model="user.username"/>
    <base-input-text :loading="loading_inputs" rules="required|email" type="email" label="Email" name="Email" v-model="user.email"/>
    <base-input-text :loading="loading_inputs" rules="required" vid="password" type="password" label="Password" name="Password" v-model="user.password"/>
    <base-button type="submit" :loading="loading_inputs" variant="water-blue" block>Register</base-button>
  </auth-layout>
</template>

<script>
import { toast } from '@/mixins/toast'
import BaseInputText from '@/components/inputs/BaseInputText.vue'
import BaseButton from '@/components/buttons/BaseButton.vue'
import AuthLayout from '@/layouts/AuthLayout.vue'

export default {
  name: 'RegisterView',
  components: { 
    BaseInputText,
    BaseButton,
    AuthLayout 
  },
  data() {
    return {
      user: {},
      loading_inputs: false
    }
  },
  mixins: [toast],
  methods: {
    async onSubmit() {
      let data = {
        user: this.user
      }
      this.loading_inputs = true
      let response = await this.$api.User.register(data)
      if (response && response.status == 200) {
        this.$store.dispatch('user/set_data_user', response.data.user)
        this.$router.push({ path: '/articles' })
      }
      else if (response && response.status == 422) {
        for (const error in response.data.errors) {
          this.showToast('Register Failed!', `${error} ${response.data.errors[error]}`, 'danger')
        }
        
      }
      this.loading_inputs = false
    }
  }
}
</script>

<style>

</style>