<template>
  <b-sidebar lazy width="250px" id="sidebar" no-close-on-route-change no-header-close no-close-on-esc title="Post" header-class="text-white" :visible="true" bg-variant="water-blue">
      <b-list-group flush>
        <b-list-group-item exact-path :to="{ path: '/articles' }" active-class="active-item" class="bg-transparent text-white border-0">All Articles</b-list-group-item>
        <b-list-group-item exact-path :to="{ path: '/articles/create' }" active-class="active-item" class="bg-transparent text-white border-0">New Article</b-list-group-item>
      </b-list-group>
  </b-sidebar>
</template>

<script>
export default {
  name: 'SideBar',

}
</script>

<style lang="scss">
.b-sidebar-outer {
  position: relative;
  height: auto;
  .b-sidebar {
    position: relative;
    min-height: calc(100vh - 60px);
    height: 100%;
  }
}
.active-item {
  background-color: rgba(255, 255, 255, 0.15) !important;
}
</style>