<template>
  <div class="nav bg-charcoal-grey">
    <div class="d-flex px-3 justify-content-between align-items-center">
      <div class="d-flex  align-items-center left-side text-white text-left">
        <div class="d-inline-block">
          <b-button class="d-md-none d-inline mr-4" size="sm" v-b-toggle.sidebar><b-icon icon="list"/></b-button>
        </div>
        <div class="d-inline-block">
          <span class="primary-title pr-sm-4">Arvan Challenge</span>
          <span class="user-info d-sm-inline d-block">Welcome {{ username }}</span>
        </div>
      </div>
      <div class="right-side text-white">
        <b-button variant="outline-dark-sky-blue" @click="logout">Logout</b-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TopHeader',
  data() {
    return {
    }
  },
  computed: {
    username() {
      return this.$store.state.user.username
    }
  },
  methods: {
    logout() {
      this.$bvModal.msgBoxConfirm('Are you sure you want to logout?', {
        title: `Logout ${this.username}`,
        cancelTitle: 'No',
        cancelVariant: 'outline-secondary',
        okTitle: 'Yes',
        hideHeaderClose: false,
        okVariant: 'water-blue',
        centered: true
      })
        .then(value => {
          if (value) {
            this.$store.dispatch('user/logout')
            this.$router.push({path: '/login'})
          }
        })
        .catch(err => {
          console.log(err, 'err')
        })
    }
  }
}
</script>

<style lang="scss">
.nav {
  height: 60px;
  & > div {
    width: 100%;
  }
  .left-side {
    .primary-title {
      font-size: 22px;
    }
    .user-info {
      font-size: 16px;
    }
  }
}
</style>