<template>
  <div id="app">
    <transition
      name="fade"
      appear
      duration="300"
      mode="out-in"
    >
      <router-view/>
    </transition>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
  .fade-enter {
    opacity: 0;
    transform: translateX(-50px);
  }
  .fade-enter-to {
    opacity: 1;
    transform: translateX(0);
  }
  .fade-enter-active {
    transition: all 0.3s ease-in-out;
  }
  .fade-leave {
    opacity: 1;
    transform: translateX(0);
  }
  .fade-leave-to {
    opacity: 0;
    transform: translateX(-50px);
  }
  .fade-leave-active {
    transition: all 0.3s ease-in-out;
  }
</style>
