<template>
  <b-container>
    <b-row align-h="center" class="vh-100">
      <b-col col xl="5" lg="6" md="8" sm="10" cols="10" align-self="center">
        <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
          <b-form class="bg-medium-light form p-4" @submit.prevent="handleSubmit(onSubmit)">

            <div class="title">
              <h2>{{title}}</h2>
            </div>

            <slot />

            <div class="register-box text-left pl-2 mt-3">
              <span>{{alternate_text}}</span>
              <span class="pl-2">
                <b-link :to="$route.name == 'login' ? '/register' : '/login'" class="text-charcoal-grey font-weight-bold">
                  <template v-if="$route.name == 'login'">Register </template>
                  <template v-else>Login </template>
                  Now
                </b-link>
              </span>
            </div>

          </b-form>
        </ValidationObserver>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { ValidationObserver } from "vee-validate"

export default {
  name: 'AuthLayout',
  components: { 
    ValidationObserver,
  },
  props: {
    title: {
      type: String,
      require: true
    },
    alternate_text: {
      type: String,
      require: true
    }
  },
  methods: {
    onSubmit() {
      this.$emit("onSubmit")
    }
  }
}
</script>

<style>

</style>