<template>
  <div class="w-100 overflow-hidden">
    <top-header/>
    <b-container fluid>
      <b-row class="flex-nowrap">
        <side-bar/>
        <div class="w-100 p-4">
          <slot />
        </div>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import TopHeader from '@/components/TopHeader.vue'
import SideBar from '@/components/SideBar.vue'

export default {
  name: 'MainLayout',
  components: { 
    TopHeader,
    SideBar
  },
}
</script>

<style>

</style>